.tabs__list {
  display: inline-flex;
  align-items: center;
  background: #EBEBEB;
  border-radius: 50px;
  padding: 4px;
  margin-bottom: 36px;
}

.tabs__content {
  display: none;
}

.tabs__content--title {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 32px;
  color: var(--title-color);
}

.tabs__content--active {
  display: block;
}

.tabs__btn {
  background-color: transparent;
  border: 2px solid transparent;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  min-width: 151px;
  padding: 6.5px 40px;
  border-radius: 500px;
  cursor: pointer;
  outline: none;

}

.tabs__btn--active {
  background: #FFFFFF;
  box-shadow: 0px 6px 17px rgba(0, 0, 0, 0.08);
  border: 2px solid #222222;
}